/*.wrapper {*/
/*  padding-bottom: var(--size_07);*/
/*}*/

/*.thumbnail {*/
/*  position: relative;*/
/*  padding-bottom: 70%;*/

/*  &.thumbnailWithBackdrop {*/
/*    background-color: var(--color_beige_01);*/
/*  }*/
/*}*/

/*.placeholder {*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: grid;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  @mixin font-body02;*/
/*}*/

/*.info {*/
/*  position: relative;*/
/*  text-align: center;*/
/*  padding: var(--size_07) var(--size_07) 0 var(--size_07);*/
/*}*/

/*.title {*/
/*  @mixin font-body02;*/
/*  transition: opacity 200ms;*/
/*}*/

/*.priceStandard {*/
/*  @mixin font-heading03;*/
/*  margin-top: var(--size_03);*/
/*}*/

/*.related {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  margin-top: var(--size_05);*/
/*  grid-auto-flow: column;*/
/*  justify-content: center;*/
/*  grid-column-gap: 6px;*/
/*  display: none;*/

/*  @media (--lg) {*/
/*    .wrapperWithVariants & {*/
/*      display: grid;*/
/*    }*/

/*    .wrapperWithVariantsOnHover & {*/
/*      opacity: 0;*/
/*      transition: opacity 200ms;*/
/*      display: grid;*/
/*    }*/

/*    .wrapperWithVariantsOnHover:hover & {*/
/*      opacity: 1;*/
/*    }*/
/*  }*/
/*}*/

/*.relatedLink {*/
/*  padding: var(--size_03);*/
/*}*/

/*.relatedProduct {*/
/*  position: relative;*/
/*  display: grid;*/
/*  grid-template-columns: 1fr;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  padding: var(--size_02);*/
/*  border-radius: 4px;*/
/*}*/

/*.relatedProductActive {*/
/*  border: 1px solid var(--color_black_03);*/
/*}*/

/*.relatedColor {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border-radius: 50%;*/
/*}*/
