.button {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
  align-items: center;

  background: rgb(41, 43, 45);
  border-radius: 9999px;
  overflow: hidden;
  height: 36px;
  padding: 0 18px;

  cursor: pointer;

  transition: all 0.15s;

  border: 1px solid rgba(255, 255, 255, 0.1);
}

.button:hover {
  background: rgba(41, 43, 45, 0.7);
}

.label {
  line-height: 1;
}
